.DS_Store
.installed.cfg

*.gz
*.log
*.pyc
*.swp

*.css
*.html
*.js
*.png

*.bmp
*.gif
*.jpg
*.png
*.raw
*.tif

*.egg-info

AdobeFnt*
Resource
ThumbnailUsage.db

bin
develop-eggs
doxygen
eggs
parts
sphinx
test/pdfprocess
tmp
var
venv
