[buildout]
relative-paths = true
versions = pinned-versions
test-directory = ${:directory}/test
develop = ${:directory}/src
parts =
    environment
    app
    server
    nose

[pinned-versions]
; gunicorn = 18.0

[environment]
recipe = collective.recipe.environment

[environment:macosx]
CFLAGS = -Qunused-arguments -Wno-attributes

[app]
name = server
recipe = zc.recipe.egg
eggs =
    Flask
    lxml
    requests
    simplejson
    ${:name}
initialization =
    from server import cfg
    PORT = int(cfg.Configuration.service.thumbnail_port)
entry-points = ${:name}=${:app}.run
arguments = host='0.0.0.0', port=PORT
app = ${:name}:app

[server]
name = gunicorn
recipe = zc.recipe.egg
eggs =
    ${:name}
    eventlet
    setuptools
    ${app:eggs}
scripts = ${:name}

[nose]
recipe = pbp.recipe.noserunner
eggs = ${app:eggs}
initialization =
    print('cd %s' % '${:working-directory}')
working-directory = ${buildout:test-directory}
